<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>who's enjoyed buddy !</title>


    <!-- Bootstrap Core CSS -->
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/lib/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="/stylesheets/dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Our Custom CSS -->
    <link href="/stylesheets/style.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet' type='text/css'>

    <style>
        .glyphicon-thumbs-up {
            cursor: pointer
        }
    </style>
</head>

<body onload="loadSession()">
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#/home" class="navbar-brand">WEB</a>
            </div>
            <!-- /.navbar-header -->

            <ul id="hideNotConnected" class="nav navbar-top-links navbar-right" ng-hide='true'>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i><span id="getPseudo"></span><i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="" onclick="userProfile()"><i class="fa fa-user fa-fw"></i>User Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#/connection" onclick="deleteSession()"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <ul id="hideConnected" class="nav navbar-top-links navbar-right" ng-hide='false'>
                <li>
                    <a href="#/register"><i class="fa fa-edit fa-fw"></i>register</a>
                </li>
                <li>
                    <a href="#/connection"><i class="fa fa-edit fa-fw"></i>connexion</a>
                </li>
            </ul>

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul id="hideNotConnectedNav" class="nav" id="side-menu" ng-controlleur="friendsCtrl">

                        <!-- Display the list of the current user's friends -->
                        <ul class="nav" id="side-menu" ng-repeat="friend in friends">
                            <li>
                               {{friend.pseudo}}
                            </li>
                        </ul>

                        <!-- Add a friend form -->
                        <form name="friendForm" role="form" novalidate>
                            <div class="form-group" ng-class="{'has-error': friendForm.mail.$invalid && friendForm.mail.$dirty, 'has-success': friendForm.mail.$valid}">
                                <input type="email" class="form-control" name="mail" placeholder="Email de votre ami(e)" ng-model="friendMail" required ng-pattern="/^[a-zA-Z._-]+@[a-zA-Z]*.[a-z]{2,4}$/">
                                    <span class="error" ng-show="friendForm.mail.$error.required && friendForm.mail.$dirty">Ce champ doit être rempli</span>
                                    <span class="error" ng-show="friendForm.mail.$error.pattern">Format de l'adresse mail incorrect</span>
                                </input>
                                <button class="btn btn-primary" ng-click="addFriend()" ng-disabled="friendForm.$invalid">Ajouter un ami</button>
                            </div>
                        </form>

                        <!-- Display the list of the current user's groups -->
                        <ul class="nav" id="side-menu" ng-repeat="group in groups" ng-controlleur="groupsCtrl">
                            <li>
                                {{group.name}}
                            </li>
                        </ul>

                        <!-- Create a group -->
                        <form name="groupForm" role="form" novalidate>
                            <div class="form-group" ng-class="{'has-error': groupForm.name.$invalid && groupForm.name.$dirty, 'has-success': groupForm.name.$valid}">
                                <input type="text" class="form-control" name="name" placeholder="Nom du groupe" ng-model="groupName" required ng-minlength="2" ng-maxlength="12">
                                    <span class="error" ng-show="groupForm.name.$error.required && groupForm.name.$dirty">Ce champ doit être rempli</span>
                                    <span class="error" ng-show="groupForm.name.$error.minlength">Nom trop court (Entre 2 et 12 caractères)</span>
                                    <span class="error" ng-show="groupForm.name.$error.maxlength">Nom trop long (Entre 2 et 12 caractères)</span>
                                </input>
                                <button class="btn btn-primary" ng-click="createGroup()" ng-disabled="groupForm.$invalid">Créer un groupe</button>
                            </div>
                        </form>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <ui-view></ui-view>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <section ng-view> </section>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


</body>

<script type="text/javascript" src="/lib/angular/angular.min.js"></script>
<script type="text/javascript" src="/lib/angular-ui-router/release/angular-ui-router.min.js"></script>

<!-- jQuery -->
<script src="/lib/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/lib/metisMenu/dist/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/stylesheets/dist/js/sb-admin-2.js"></script>

<script src="/javascripts/home/home.client.module.js"></script>
<script src="/javascripts/home/home.client.controller.js"></script>
<script src="/javascripts/home/home.client.service.js"></script>

<script src="/javascripts/register/register.client.module.js"></script>
<script src="/javascripts/register/register.client.controller.js"></script>
<script src="/javascripts/register/register.client.service.js"></script>

<script src="/javascripts/connection/connection.client.module.js"></script>
<script src="/javascripts/connection/connection.client.controller.js"></script>
<script src="/javascripts/connection/connection.client.service.js"></script>

<script src="/javascripts/userProfile/userProfile.client.module.js"></script>
<script src="/javascripts/userProfile/userProfile.client.controller.js"></script>
<script src="/javascripts/userProfile/userProfile.client.service.js"></script>


<script src="/javascripts/application.js"></script>
<script src="/javascripts/index.client.module.js"></script>

</html>