.dropdown-menu > li > a, .dropdown-menu > li > a:hover {
 	color:#337AB7;
}

body {
  	color:#3278b3;
}

h1{
	color:#337AB7;
	font-family: 'Arizonia', Papyrus;
	font-size: 50px;
}

.navbar-default .navbar-brand{
  color: #275e8b;
  font-family: 'Arizonia', Papyrus;
  font-size: 35px;
  margin-left: 10px;
}
