<section>
    <div class="panel panel-default">
        <div class="panel-heading">
            Inscription
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    <form name="registerForm" role="form" novalidate>
                        <div class="form-group">
                        	<label for="mail">Adresse mail:*</label>
                            <input type="email" class="form-control" name="mail" placeholder="Email" ng-model="mail" required ng-pattern="/^[a-zA-Z._-]+@[a-zA-Z]*.[a-z]{2,4}$/">
                              <span class="error" ng-show="registerForm.mail.$error.required && registerForm.mail.$dirty">Ce champ doit être rempli</span>
                              <span class="error" ng-show="registerForm.mail.$error.pattern">Format de l'adresse mail incorrect</span>
                            </input>
                            <br>
                            <label for="pass">Mot de passe:*</label>
                            <input type="password" class="form-control" name="pass" placeholder="Votre mot de passe" ng-model="pass" required ng-minlength="4" ng-maxlength="12">
                                <span class="error" ng-show="registerForm.pass.$error.required && registerForm.pass.$dirty">Ce champ doit être rempli</span>
                                <span class="error" ng-show="registerForm.pass.$error.minlength">Mot de passe trop court (Entre 4 et 12 caractères)</span>
                                <span class="error" ng-show="registerForm.pass.$error.maxlength">Mot de passe trop long (Entre 4 et 12 caractères)</span>
                            </input>
                            <br>
                            <label for="pass2">Mot de passe:*</label>
                            <input type="password" class="form-control" name="pass2" placeholder="Re-tapez votre mot de passe" ng-model="pass2" required ng-minlength="4" ng-maxlength="12">
                                <span class="error" ng-show="registerForm.pass2.$error.required && registerForm.pass2.$dirty">Ce champ doit être rempli</span>
                                <span class="error has-error" ng-show="registerForm.pass2.$error.minlength">Mot de passe trop court (Entre 4 et 12 caractères)</span>
                                <span class="error" ng-show="registerForm.pass2.$error.maxlength">Mot de passe trop long (Entre 4 et 12 caractères)</span>
                            </input>
                            <br>
                            <label for="pseudo">Pseudonyme:*</label>
                            <input type="text" class="form-control" name="pseudo" placeholder="Votre pseudonyme" ng-model="pseudo" required ng-minlength="2" ng-maxlength="12">
                                <span class="error" ng-show="registerForm.pseudo.$error.required && registerForm.pseudo.$dirty">Ce champ doit être rempli</span>
                                <span class="error" ng-show="registerForm.pseudo.$error.minlength">Pseudonyme trop court (Entre 2 et 12 caractères)</span>
                                <span class="error" ng-show="registerForm.pseudo.$error.maxlength">Pseudonyme trop long (Entre 2 et 12 caractères)</span>
                            </input>
                            <br>
                            <span class="error">* = Ce champ doit être rempli</span>
                        </div>
                        <button class="btn btn-primary" ng-click="addUser()" ng-disabled="registerForm.$invalid">Ajouter</button>
                        <a href="#/home">
                            <button class="btn btn-warning">Annuler</button>
                        </a>
                    </form>
                </div>
                <!-- /.col-lg-6 (nested) -->
            </div>
            <!-- /.row (nested) -->
        </div>
        <!-- /.panel-body -->
    </div>
</section>